:root {
    --primary-color : #146EB4;
    --primary-font-color : #4D4D4D;
    --secondry-font-color : #1A181E;
    --white-color : #FFFFFF;
    --black-color : #000;
    --app-background : #FAFAFA;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}

html{
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--app-background);
}